/* style.css */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* END Meyer Reset */

body {
    font-family: 'Times New Roman', Times, serif;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 6em 2em 1fr;

    --off-white: rgb(220,210,200);
    --drab: rgb(70,70,50);
}

.header {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    color: var(--off-white);
    background-color: var(--drab);
    padding: 2em 10% 0 10%;
}

.header h1 {
    font-size: 2em;
}

.current-turn {
    color: var(--off-white);
    text-align: center;
    line-height: 1.75em;
    font-weight: 800;
}

.game-area {
    background-color: var(--off-white);
}

.board-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    padding: 1%;
    gap: 1%;
    background-color: var(--drab);
    margin: 10vh auto;
    height: min(60vh, 60vw); /* always fit on screen */
    width: min(60vh, 60vw);
}

.tile {
    border: none;
    box-shadow: inset 2px 2px 4px 4px rgba(0,0,0,0.1);
    background-color: var(--off-white);
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.names-button, .reset-button {
    color: var(--off-white);
    width: 8em;
    font-weight: 800;
    height: 2.5em;
    border: 4px solid var(--off-white);
    border-radius: 1.25em;
}

.names-button {
    background-color: var(--drab);
}

.reset-button {
    background-color: rgb(120,50,50);
}

.names-dialog {
    border: 4px solid black;
    padding: 40px;
}

.names-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input, .dialog-submit, .names-dialog {
    border-radius: 4px;
}

.input {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 800;
    gap: 5px;
    padding: 10px;
}

.red {
    background-color: #ED411C;
}

.blue {
    background-color: #666DE9;
}

/* smaller screens */
@media only screen and (max-width: 600px) {

    body {
        grid-template-rows: 6em 2em 1fr;
    }

    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 10% 0 10%;
        gap: 10px;
    }
}